<section class="page-list">
  <div class="page-header">
    <div class="page-title">
      <h4>Product List</h4>
      <h6>Manage your products</h6>
    </div>
    <div class="page-btn">
      <a routerLink="/product/add-product" class="btn btn-added"
        ><img src="/assets/images/svg/plus.svg" alt="img" class="me-1" /><span
          >Add New Product</span
        ></a
      >
    </div>
  </div>
</section>

<section class="table-section">
  <div class="mat-elevation-z8">
    <div class="table-top">
      <div class="search-set">
        <div (click)="onToggle()" class="filter-show">
          <a class="btn btn-filter">
            <span *ngIf="!toggleMenu" class="material-symbols-outlined"
              >filter_alt</span
            >
            <a>
              <a *ngIf="toggleMenu" class="close-button">
                <span class="material-symbols-outlined">close</span>
              </a>
            </a>
          </a>
        </div>
        <div class="search-input">
          <a class="btn btn-searchset">
            <mat-icon>search</mat-icon>
          </a>
          <form class="table-search" #searchForm="ngForm">
            <input
              type="search"
              #searchInput
              name="searchTerm"
              autocomplete="off"
              ngModel
              placeholder="Search..."
            />
          </form>
        </div>
      </div>
    </div>

    <input
      style="display: none"
      #pickInput
      type="file"
      (change)="onFileChange($event)"
      [accept]="'.xlsx, .xls, .csv'"
    />
    <!-- END File Picker -->

    <div
      class="container filter-area"
      [class]="toggleMenu ? 'filter-show' : 'filter-hide'"
    >
      <div class="filler">
        <div class="date-filter">
          <mat-form-field
            class="mat-date-input-field"
            appearance="outline"
            (click)="picker.open()"
          >
            <mat-label class="filter-date">Filter Date</mat-label>
            <mat-date-range-input
              [formGroup]="dataFormDateRange"
              [rangePicker]="picker"
              [max]="today"
            >
              <input
                matStartDate
                formControlName="start"
                placeholder="Start date"
                readonly
              />
              <input
                matEndDate
                formControlName="end"
                placeholder="End date"
                readonly
                (dateChange)="endChangeRegDateRange($event)"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error
              *ngIf="
                dataFormDateRange.controls.start.hasError('matStartDateInvalid')
              "
              >Invalid start date
            </mat-error>
            <mat-error
              *ngIf="
                dataFormDateRange.controls.end.hasError('matEndDateInvalid')
              "
              >Invalid end date
            </mat-error>
          </mat-form-field>
        </div>

        <div class="sort">
          <a
            mat-raised-button
            [matMenuTriggerFor]="menuProduct"
            class="button-style"
          >
            Product
            <mat-icon>keyboard_arrow_down</mat-icon>
          </a>
          <mat-menu #menuProduct="matMenu">
            <a
              *ngFor="let data of products; let i = index"
              mat-menu-item
              (click)="filterData(data._id, i, 'name')"
              [class.dropdown-active]="activeFilter1 === i"
            >
              {{ data.name }}
            </a>
          </mat-menu>
        </div>
        <div class="sort">
          <button
            mat-raised-button
            [matMenuTriggerFor]="menuSort"
            class="button-style"
          >
            Sort By
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menuSort="matMenu">
            <button
              (click)="sortData({ salePrice: 1 }, 3)"
              mat-menu-item
              [class.dropdown-active]="activeSort === 3"
            >
              Sale Price (Low ~ High)
            </button>
            <button
              (click)="sortData({ salePrice: -1 }, 4)"
              mat-menu-item
              [class.dropdown-active]="activeSort === 4"
            >
              Sale Price (High ~ Low)
            </button>
            <button
              (click)="sortData({ quantity: 1 }, 5)"
              mat-menu-item
              [class.dropdown-active]="activeSort === 5"
            >
              Quantity (Low ~ High)
            </button>
            <button
              (click)="sortData({ quantity: -1 }, 6)"
              mat-menu-item
              [class.dropdown-active]="activeSort === 6"
            >
              Quantity (High ~ Low)
            </button>
          </mat-menu>
        </div>
      </div>

      <div
        class="left"
        style="margin-bottom: 10px"
        *ngIf="filter || activeSort"
      >
        <button mat-stroked-button (click)="onRemoveAllQuery()">
          <mat-icon>close</mat-icon>
          Clear FilterData
        </button>
      </div>
    </div>

    <div class="button-area" *ngIf="selectedIds && selectedIds.length">
      <div class="delete-area">
        <button
          *ngIf="checkDeletePermission"
          mat-stroked-button
          color="warn"
          (click)="openConfirmDialog('delete')"
          matTooltip="Delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <!-- END Delete Action -->

    <app-no-content
      *ngIf="!isLoading && !products.length"
      [matIcon]="'info'"
      title="No data Found!"
    ></app-no-content>

    <div class="container">
      <div class="table-responsive">
        <table *ngIf="products.length">
          <tr class="table-row">
            <th class="t-checkbox">
              <mat-checkbox
                #matCheckbox
                (change)="onAllSelectChange($event)"
                class="mat-check"
              ></mat-checkbox>
            </th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Code</th>
            <th>Qty</th>
            <th>Purchase Price</th>
            <th>Total Purchase Price</th>
            <th>Sale Price</th>
            <th>Total Sale</th>
            <th>Total Profit</th>
            <th>Action</th>
          </tr>
          <tr
            *ngFor="
              let data of products
                | paginate
                  : {
                      itemsPerPage: productsPerPage,
                      currentPage: currentPage,
                      totalItems: totalProducts
                    };
              let i = index
            "
            class="table-hover"
          >
            <td class="t-checkbox">
              <mat-checkbox
                class="t-mat-checkbox"
                [(ngModel)]="data.select"
                (ngModelChange)="onCheckChange($event, i, data._id)"
              ></mat-checkbox>
            </td>
            <td class="product-img">
              <img [src]="data?.images ? data?.images[0] : ''" />
            </td>
            <td>{{ data?.name || "-" }}</td>
            <td>{{ data?.sku || "-" }}</td>
            <td>{{ data?.quantity || "0" }}</td>
            <td>৳ {{ data?.purchasePrice | number : "" : "bn" || "-" }}</td>
            <td>
              ৳
              {{
                data?.purchasePrice * data?.quantity | number : "" : "bn" || "-"
              }}
            </td>
            <td>৳ {{ data?.salePrice | number : "" : "bn" || "-" }}</td>
            <td>
              ৳
              {{ data?.salePrice * data?.quantity | number : "" : "bn" || "-" }}
            </td>
            <td>
              ৳
              {{
                data?.quantity * (data?.salePrice - data?.purchasePrice)
                  | number : "" : "bn" || "-"
              }}
            </td>
            <!--            <td>{{ data?.createdAt | date }}</td>-->
            <!--            <td>{{ data?.status === true ? "Yes" : "No" }}</td>-->
            <td class="button">
              <button
                matTooltip="Edit"
                mat-mini-fab
                color="accent"
                [routerLink]="['../edit-product/', data._id]"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <!-- <button
                matTooltip="Barcode"
                mat-mini-fab
                color="primary"
                [routerLink]="['../barcode-generate/', data._id]"
              >
                <mat-icon>qr_code_2</mat-icon>
              </button> -->
            </td>
          </tr>
          <!-- END Main Data -->

          <tr
            class="table-hover"
            style="background: #fff5ea"
            *ngIf="products.length"
          >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="font-weight: bold">
              {{ productCalculation?.totalQuantity }}
            </td>
            <td></td>
            <td style="font-weight: bold">
              ৳
              {{ productCalculation?.totalPurchasePrice | number : "" : "bn" }}
            </td>
            <td></td>
            <!--            <td>৳ {{ productCalculation?.sumPurchasePrice | number: '' : 'bn'}}</td>-->
            <!--            <td>৳ {{ productCalculation?.sumSalePrice | number: '' : 'bn'}}</td>-->

            <td style="font-weight: bold">
              ৳ {{ productCalculation?.totalSalePrice | number : "" : "bn" }}
            </td>
            <td style="font-weight: bold">
              ৳
              {{
                productCalculation?.totalSalePrice -
                  productCalculation?.totalPurchasePrice | number : "" : "bn"
              }}
            </td>

            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- END Main Table -->

    <!--    <div class="calculation">-->
    <!--      <div class="content">-->
    <!--        <p><b>Total Purchase Amount: </b> ৳10,000</p>-->
    <!--      </div>-->
    <!--    </div>-->

    <div class="prginator-area" *ngIf="!isLoading && products.length">
      <div class="dataTables_length" id="DataTables_Table_0_length">
        <label>
          <span>Show per page:</span>
          <select
            class="custom-select"
            (change)="onSelectShowPerPage(val.value)"
            #val
          >
            <option *ngFor="let data of showPerPageList">
              {{ data.num }}
            </option>
          </select>
        </label>
      </div>
      <!-- END PAGINATION -->

      <div class="count-area">
        <div class="pagination-container">
          <pagination-controls
            class="data-pagination"
            [autoHide]="true"
            [maxSize]="15"
            (pageChange)="onPageChanged($event)"
          >
          </pagination-controls>
        </div>
      </div>
    </div>

    <div class="bottom-border"></div>
  </div>
</section>

<!-- TEMPLATE NGX SPINNER-->
<ngx-spinner
  bdColor="rgba(0,0,0,0.3)"
  size="medium"
  color="#fff"
  type="ball-scale-pulse"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
