@import "/src/theme/exports/_table-list.scss";

.table-top {
  justify-content: start;
  gap: 20px;
}

.header {
  padding: 12px 0 16px;

   h2 {
    margin: 0;
    font-family: $font-en-nunito;
    font-weight: 800;
    font-size: 22px;
    border-radius: 5px;
    color: #212b36;
     text-align: center;
  }
}
