<section class="page-list">
  <div class="page-header">
    <div class="page-title">
      <h4>Expenses Category</h4>
      <h6>Manage your purchases</h6>
    </div>
    <div class="page-btn">
      <a href="" class="btn btn-added">
        <button mat-stroked-button>
          <mat-icon>add</mat-icon>
          Add EXPENSES CATEGORY
        </button></a>
    </div>
  </div>
</section>

<section class="table-section">
  <div class="mat-elevation-z8">
    <div class="table-top">
      <div class="search-set">
        <div class="search-path">
          <a class="btn btn-filter" id="filter_search">
            <img src="../../../../assets/images/svg/filter.svg" alt="img" />
          </a>
        </div>
        <div class="search-input">
          <a class="btn btn-searchset"><img src="../../../../assets/images/svg/search-white.svg" alt="img" /></a>
          <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <label>
              <input type="search" class="form-control form-control-sm" placeholder="Search..."
                aria-controls="DataTables_Table_0" /></label>
          </div>
        </div>
      </div>
      <div class="wordset">
        <ul>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="pdf"
              aria-label="pdf"><img src="../../../../assets/images/svg/pdf.svg" alt="img" /></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="excel"
              aria-label="excel"><img src="../../../../assets/images/svg/excel.svg" alt="img" /></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="print"
              aria-label="print"><img src="../../../../assets/images/svg/printer.svg" alt="img" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="table-responsive">
        <table>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Category name</th>
            <th>Reference</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="prginator-area">
      <div class="dataTables_length" id="DataTables_Table_0_length">
        <label>
          <span>Show per page:</span>
          <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </label>
      </div>
      <div class="count-area">
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
          1 - 10 of 11 items
        </div>
        <div class="dataTables_paginate paging_numbers" id="DataTables_Table_0_paginate">
          <ul class="pagination">
            <li>
              <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">1</a>
            </li>
            <li class="paginate_button page-item">
              <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">2</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom-border"></div>
  </div>
</section>
