<section class="add-list">
  <div class="page-header">
    <div class="page-title">
      <h4>{{ id ? "Return Sale " : "New Sale" }}</h4>
      <!-- <h6>{{id?"Update ":"Add"}}Sales</h6> -->
    </div>
  </div>
</section>

<section
  class="from-section"
  (click)="onClickHeader()"
  appOutSideClick
  (outsideClick)="handleOutsideClick()"
>
  <div class="area-border">
    <h2 class="">Customer Details</h2>
    <div class="grid">
      <form
        #formElement="ngForm"
        [formGroup]="dataForm"
        class="grid"
        style="margin-bottom: 20px"
      >
        <div class="from">
          <mat-label>Customer Name</mat-label>
          <mat-form-field appearance="outline" class="form-field">
            <input formControlName="name" matInput />
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
        <div class="from">
          <mat-label>Customer Phone No</mat-label>
          <mat-form-field appearance="outline" class="form-field">
            <input formControlName="phone" matInput />
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
        <div class="from">
          <mat-label>Customer Address</mat-label>
          <mat-form-field appearance="outline" class="form-field">
            <input formControlName="address" matInput />
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
        <div class="from">
          <mat-label>Sold Date</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="DD-MM-YYYY"
              [ngModel]="soldDate"
              disabled
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </div>

    <app-product-search-filed *ngIf="!id" (onSelect)="onSelectProduct($event)">
    </app-product-search-filed>

    <div class="container" *ngIf="products.length > 0">
      <div class="table-responsive">
        <table>
          <thead>
            <tr class="table-row">
              <th>Product Image</th>
              <th>Product Name</th>
              <th *ngIf="!id">Quantity</th>
              <th>Selling QTY</th>
              <th>Sales Price($)</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of products">
              <td class="product-img">
                <img [src]="data?.images ? data?.images[0] : ''" />
              </td>
              <td class="productimage">
                <a class="product-text"
                  >{{ data.name }} ({{ data?.sku ? data?.sku + "," : ""
                  }})</a
                >
              </td>
              <td *ngIf="!id">{{ data?.quantity }}</td>
              <td>
                <div class="quantity">
                  <div>
                    <button type="button" (click)="decreseQuantity(data)">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                  <div>
                    <input
                      type="number"
                      [value]="data?.soldQuantity"
                      (input)="changeQuantity($event.target.value, data)"
                    />
                  </div>

                  <div>
                    <button type="button" (click)="increaseQuantity(data)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </td>
              <td>{{ data?.salePrice }}</td>
              <td>{{ data?.salePrice * data.soldQuantity }}</td>
              <td>
                <div class="delete-area">
                  <button
                    mat-stroked-button
                    color="warn"
                    matTooltip="Delete"
                    (click)="deleteProduct(data)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="grid">
      <div class="from"></div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="from down">
        <mat-label>Discount</mat-label>
        <mat-form-field appearance="outline">
          <!-- <mat-label>Name</mat-label> -->
          <input
            matInput
            type="number"
            [ngModel]="discount"
            (ngModelChange)="onChangeDiscount($event)"
          />
        </mat-form-field>
      </div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="from down">
        <mat-label>Discount In Percent</mat-label>
        <mat-form-field appearance="outline">
          <!-- <mat-label>Name</mat-label> -->
          <input
            matInput
            type="number"
            [ngModel]="discountPercent"
            (ngModelChange)="onChangeDiscountInPercentage($event)"
          />
        </mat-form-field>
      </div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="from down">
        <mat-label>Shipping Charge</mat-label>
        <mat-form-field appearance="outline">
          <!-- <mat-label>Name</mat-label> -->
          <input
            matInput
            type="number"
            [ngModel]="shippingCharge"
            (ngModelChange)="onChangeShippingCharge($event)"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="table">
      <table class="total-order">
        <tr>
          <td>Sub Total</td>
          <td class="number-color">৳{{ subTotal | number : "" : "bn" }}</td>
        </tr>
        <tr>
          <td>Discount</td>
          <td class="number-color">৳{{ discount | number : "" : "bn" }}</td>
        </tr>
        <tr>
          <td>Discount In Percentage</td>
          <td class="number-color">৳{{ (discountPercent / 100) * subTotal | number : "" : "bn" }}</td>
        </tr>
        <tr>
          <td>Shipping Charge</td>
          <td class="number-color">৳{{ shippingCharge | number : "" : "bn" }}</td>
        </tr>
        <tr>
          <td class="total">Grand Total</td>
          <td class="number-color">৳{{ total | number : "" : "bn" }}</td>
        </tr>
      </table>
    </div>
    <div class="btn">
      <button
        mat-raised-button
        type="button"
        class="btn-submit"
        (click)="onSubmit()"
      >
        {{ id ? "Update" : "Submit" }}
      </button>
      <button
        type="button"
        routerLink="/sales/sales-list"
        mat-raised-button
        class="btn-submit color"
      >
        Cancel
      </button>
    </div>
  </div>
</section>
