<section class="add-list">
  <div class="page-header">
    <div class="page-title">
      <h4>Import Products</h4>
      <h6>Bulk upload your products</h6>
    </div>
  </div>
</section>

<section class="card-section">
  <div class="area-border">
    <div class="csv-format">
      <h4>Field must be in csv format</h4>
      <div class="csv-btn">
        <button mat-raised-button type="add" class="btn-submit">Download Sample File</button>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label>Upload CSV File</label>
        <div class="image-upload">
          <input type="file">
          <div class="image-uploads">
            <img src="../../../../assets/images/svg/upload.svg" alt="img">
            <h4>Drag and drop a file to upload</h4>
          </div>
        </div>
      </div>
    <div class="table">
      <table class="customers">
        <tr>
          <td>Product Name</td>
          <td style="color: #0F9D58;">This Field is required</td>
        </tr>
        <tr>
          <td>Category</td>
          <td style="color: #0F9D58;">This Field is required</td>
        </tr>
        <tr>
          <td>SKU code</td>
          <td style="color: #0F9D58;">This Field is required</td>
        </tr>
        <tr>
          <td>Product Cost</td>
          <td style="color: #0F9D58;">This Field is required</td>
        </tr>
        <tr>
          <td>Product Price</td>
          <td style="color: #0F9D58;">This Field is required</td>
        </tr>
        <tr>
          <td>Product Unit</td>
          <td style="color: #0F9D58;">This Field is required</td>
        </tr>
        <tr>
          <td>Description</td>
          <td style="color: #2AA4F4;">Field optional</td>
        </tr>
      </table>
      <table class="customers">
        <tr>
          <td>Minimum Qty</td>
          <td style="color: #2AA4F4;">Field optional</td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td style="color: #2AA4F4;">Field optional</td>
        </tr>
        <tr>
          <td>Tax</td>
          <td style="color: #2AA4F4;">Field optional</td>
        </tr>
        <tr>
          <td>Discount Type</td>
          <td style="color: #2AA4F4;">Field optional</td>
        </tr>
        <tr>
          <td>Brand</td>
          <td style="color: #2AA4F4;">Field optional</td>
        </tr>
        <tr>
          <td>Minimum Qty</td>
          <td style="color: #2AA4F4;">Field optional</td>
        </tr>
        <tr>
          <td>Description</td>
          <td style="color: #2AA4F4;">Field optional</td>
        </tr>
      </table>
    </div>
    <div class="btn">
      <button mat-raised-button type="submit" class="btn-submit">Submit</button>
      <button mat-raised-button type="submit" class="btn-submit color">Cancel</button>
    </div>
  </form>
  </div>
</section>
