
<div class="section1" *ngIf="USER_ROLE === 'super_admin'">
  <div class="section1-main">
    <!---card-->
    <div
      class="card"
      routerLink="sales/sales-list"
      [routerLink]="['../sales/sales-list']"
    >
      <div class="card-top">
        <div class="card-top-left">
          <h3>Today Sale</h3>
        </div>
        <div class="card-top-right">
          <div class="card-icon">
            <mat-icon class="material-symbols-outlined">
              point_of_sale
            </mat-icon>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-number" matTooltip="Today Sale">
          <h3>
            ৳{{
              saleDashboard?.totalSale
                ? (saleDashboard?.totalSale | number : "" : "bn")
                : 0
            }}
          </h3>
        </div>
        <div class="card-activity">
          <h5 matTooltip="Today Sale">
            <mat-icon>show_chart</mat-icon>
            <!--            {{0}}%-->
          </h5>
        </div>
      </div>
    </div>
    <!---card-->
    <div class="card" [routerLink]="['../product/purchase-history']">
      <div class="card-top">
        <div class="card-top-left">
          <h3>Today Purchase</h3>
        </div>
        <div class="card-top-right">
          <div class="card-icon">
            <mat-icon>task</mat-icon>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-number" matTooltip="Total Invoice">
          <h3>
            {{
              saleDashboard?.totalPurchase > 0
                ? (saleDashboard?.totalPurchase | number : "" : "bn")
                : 0
            }}
          </h3>
        </div>
        <div class="card-activity">
          <h5 matTooltip="Total Invoice">
            <mat-icon>show_chart</mat-icon>
            <!--            {{0}}%-->
          </h5>
        </div>
      </div>
    </div>
    <!---card-->
    <div class="card">
      <div class="card-top">
        <div class="card-top-left">
          <h3>Total Av. Profit</h3>
        </div>
        <div class="card-top-right">
          <div class="card-icon">
            <mat-icon>leaderboard</mat-icon>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-number" matTooltip="Total work direction today">
          <h3>
            ৳{{
              saleDashboard?.totalProfit> 0
                ? (saleDashboard?.totalProfit | number : "" : "bn")
                : 0
            }}
          </h3>
        </div>
        <div class="card-activity">
          <h5 matTooltip="Work direction done percentage today">
            <mat-icon>show_chart</mat-icon>
            <!--            {{0}}%-->
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="section2-main">
    <!---card-->
    <!-- <div class="card" [routerLink]="['../expense/expense-list']">
      <div class="card-top" style="background-color: rgb(47 94 179)">
        <div class="card-top-left">
          <h3>Today Expense</h3>
        </div>
        <div class="card-top-right">
          <div class="card-icon">
            <mat-icon class="material-symbols-outlined"> inventory_2 </mat-icon>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-number" matTooltip="Today Expense">
          <h3 style="color: rgb(47 94 179)">
            {{
              saleDashboard?.totalExpense
                ? (saleDashboard?.totalExpense | number : "" : "bn")
                : 0
            }}
          </h3>
        </div>
        <div class="card-activity">
          <h5 matTooltip="Today Expense">
            <mat-icon style="color: rgb(47 94 179)">show_chart</mat-icon>
          </h5>
        </div>
      </div>
    </div> -->
    <!---card-->
    <!-- <div class="card">
      <div class="card-top" style="background-color: #ef0000b8">
        <div class="card-top-left">
          <h3>Today Loss</h3>
        </div>
        <div class="card-top-right">
          <div class="card-icon">
            <mat-icon class="material-symbols-outlined">flowsheet</mat-icon>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-number" matTooltip="Total Loss">
          <h3 style="color: #ef0000b8">
            {{
              saleDashboard?.totalLoss > 0
                ? (saleDashboard?.totalLoss | number : "" : "bn")
                : 0
            }}
          </h3>
        </div>
        <div class="card-activity">
          <h5 matTooltip="Total Loss">
            <mat-icon style="color: #ef0000b8">show_chart</mat-icon>
          </h5>
        </div>
      </div>
    </div> -->
  </div>
</div>

<div class="section1" *ngIf="USER_ROLE === 'salesman'">
  <div class="section1-main">
    <!---card-->
    <div
      class="card"
      routerLink="sales/sales-list"
      [routerLink]="['../sales/sales-list']"
    >
      <div class="card-top">
        <div class="card-top-left">
          <h3>Today Sale</h3>
        </div>
        <div class="card-top-right">
          <div class="card-icon">
            <mat-icon class="material-symbols-outlined">
              point_of_sale
            </mat-icon>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-number" matTooltip="Today Sale">
          <h3>
            {{
              saleDashboard?.totalSale
                ? (saleDashboard?.totalSale | number : "" : "bn")
                : 0
            }}
          </h3>
        </div>
        <div class="card-activity">
          <h5 matTooltip="Today Sale">
            <mat-icon>show_chart</mat-icon>
            <!--            {{0}}%-->
          </h5>
        </div>
      </div>
    </div>
    <!---card-->
    <div class="card" [routerLink]="['../sales/sales-list']">
      <div class="card-top">
        <div class="card-top-left">
          <h3>Today Invoice</h3>
        </div>
        <div class="card-top-right">
          <div class="card-icon">
            <mat-icon>task</mat-icon>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-number" matTooltip="Total Invoice">
          <h3>
            {{
              saleDashboard?.invoiceCount
                ? (saleDashboard?.invoiceCount | number : "" : "bn")
                : 0
            }}
          </h3>
        </div>
        <div class="card-activity">
          <h5 matTooltip="Total Invoice">
            <mat-icon>show_chart</mat-icon>
            <!--            {{0}}%-->
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="graph" *ngIf="USER_ROLE === 'super_admin'">
  <app-graph></app-graph>
</div>
